.main {
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 0rem 0rem 22rem 2rem; */
    /* min-height: 100vh; */
    max-width: 1280px;
    width: 80rem;
  }
  
  /* .div-calendar{
    display: flex;
    overflow: auto;
    @media (max-width:'1280px') {
      overflow: none;
    }
  }
  
  .div-overflow{
    display: flex;
    overflow: hidden;
    @media (max-width:'1280px') {
      overflow: none;
    }
  } */

  .divBorder{
    border-right: 1px solid #dfe1e8;
    border-bottom: 1px solid #dfe1e8;
  }
  
  .card {
    background: var(--surface-card);
    padding: 2rem;
    border-radius: 10px;
    margin-bottom: 1rem;
  }
  
  .resizeable {
    position: absolute;
    border: 1px solid #533535;
    width: 60px;
    height: 25px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width:50px;
    min-height: 15px;
    z-index: 1;
    background-color: aqua;
  }
  
  .resizerR {
    cursor: col-resize;
    height: 100%;
    right: 0;
    top: 0;
    width: 5px;
    position: absolute;  
  }
  
  .resizerL {
    cursor: col-resize;
    height: 100%;
    left: 0;
    top: 0;
    width: 5px;
    position: absolute; 
  }
  
  /* Calendar.module.css */
  .calendar {
    position: relative;
  }
  
  .daysContainer {
    display: flex;
    overflow: auto;
    transition: height 200ms;
  }
  
  
  
  .day {
    width: 45px;
    height: 47px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-right: 1px solid #dfe1e8;
    border-top: 1px solid #dfe1e8;
    border-bottom: 1px solid #dfe1e8;
    flex-direction: column;
    overflow: auto;
    font-size: 10px;
    color: #7c7c7c;
  }
  
  .guest {
    /* position: absolute; */
    top: 11px;
    height:25px;
    background-color: #94bce7;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 0px solid #0056b3; */
    transform: skewX(-50deg);
    z-index: 10;
  }
  
  .drag-over {
    border: 4px dotted green;
  }
  
  .preview {
    position: absolute;
    top: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2); 
    pointer-events: none; 
  }
  
  .clipPath{
    clip-path: polygon(0 0, 0 0, 0 0);
  }

  .apartamentNumber{
    display: flex;
    width: 270px;    
    border-right: solid 4px #ccc;
    border-top: solid 1px #dfe1e8;
    border-bottom: solid 1px #dfe1e8;
    justify-content: start;
    font-size: 13px;
    transition: height 200ms;
    align-items: center;
    padding-right: 0.75rem;
  }


  .toggleAccordion{
    height: 2.5rem;
    display: flex;
    justify-content: flex-start;
    background: #fff;
    align-items: center;
    border-top: solid 1px #dfe1e8;
    font-size: 14px;      
  }

  .divOverflowDate{
    display: flex;
    width: 67.8rem;
    overflow: auto;
    cursor: "pointer",
  }

  .divAddHospede{
    width: 190px;
    background-color: #fff;
    border-right: solid 4px #ccc;
    display: flex;
    justify-content: center
  }

  .divStatus{
    display: flex;
    background: white;
    padding: 4rem;
    justify-content: space-evenly;
    border: 1px solid #dfe1e8;
    margin: 2rem;
  }

  
  
  
  
  
  
  
  